.buttons {
  width: 100%;
  // text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;

  button {
    width: 25px;
    height: 25px;
    // background-color: transparent;
    // border: none;
    cursor: pointer;
  }
}